* {
	margin: 0px;
	padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

body {
  backgound-color: black;
}

header {
  background: url(http://wallpapercave.com/wp/80MQNXF.png);
  background-size: cover;
  height: 100vh;
}

.title {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3em;
}

#main {
  width: 60%;
  margin: 20px auto;
}

p {
  font-size: 1.2em;
}

ul li {
  list-style-type: none;
  margin-left: 40px;
  font-style: italic;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
  margin-top: 0.8em;
}

img {
  height: 250px;
  width: 250px;
  margin: 10px;
  border: 4px solid black;
  opacity: 0.6;
}

img:hover {
  opacity: 1;
}